#bar {
width:100%;
background-color:#ffcc33;
position: relative;
text-align: center;
color: #0D1A5D;
text-align:center;
font-family: 'Ubuntu', sans-serif;
font-size: 1em;
}

#titles {
  text-align: center;
  position: relative;
  color: #0D1A5D;
  font-family: 'Ubuntu', sans-serif;
/*  font-size: 0.5em; */
  img {
    vertical-align: middle;
   }
 }
 

  /* @media only screen and (min-width: 500px) {  */
  /* For PC and Tablet */
  .centered {
    width:90%;
  /*  aspect-ratio: 100 / 29; */
    position: relative;
    text-align: center;
    color: #0D1A5D;
  /*  font-size: 0.5em; */
    font-family: 'Ubuntu', sans-serif;
  }

  /* For Mobile and Small Tablet: */
 /* @media only screen and (max-width:499px)  */
  .centered-white {
    width:90%;
   /* aspect-ratio: 100 / 29; */
    position: relative;
    text-align:center;
    color: #0D1A5D;
 /*   font-size: 0.5em; */
    font-family: 'Ubuntu', sans-serif;   
  }


/* }  */

/* Container holding the image and the text */
.container {
  position: relative;
 /* aspect-ratio: 100 / 29; */
  text-align: center;
  color: #0D1A5D;
  display: table-cell;
}

#footerImage {
  max-height: 5%;
}

.footer {
  margin-top: 5%;
  text-align: center;
}

#loading {
  text-align: center;
  color: #BA3706;
}

#page {
  margin:0%;
}

#results {
  margin-left: 0%;
background-color:#ffcc33;
}

.grid-container {
  display: grid;
  text-align: center;
  grid-template-columns: auto auto auto auto;
  grid-template-rows: auto auto auto auto;
}

body {
  background: #FBFDFC;
}

.jumbotron{
   background: #E7F8FF;
}

.revoke-full {
 color: #0D1A5D;
}

.revoke-small {
 color: #0D1A5D;
}

.allowance {
  overflow: hidden;
}

#columns {
  background-size: auto;
  text-align: center;
  padding: 0%;
  color: #0D1A5D;
}

#headers {
  margin-top: 0;
}

#revokeLink {
  color: #e60000;
}
