#bar {
width:96%;
margin: auto;
border-radius: 13px;
background-color:#ffcc33;
position: relative;
text-align: center;
color: #0D1A5D;
text-align:center;
font-family: 'Ubuntu', sans-serif;
font-size: 1em;
}

#titles {
  width:96%;
  text-align: center;
  margin: auto;
  position: relative;
  color: #0D1A5D;
  font-family: 'Ubuntu', sans-serif;
/*  font-size: 0.5em; */
  img {
    vertical-align: middle;
   }
 }
 

  /* @media only screen and (min-width: 500px) {  */
  /* For PC and Tablet */
  .centered {
    width:96%;
  /*  aspect-ratio: 100 / 29; */
    position: relative;
    margin: auto;
    text-align: center;
    vertical-align: middle;
    color: #0D1A5D;
  /*  font-size: 0.5em; */
    font-family: 'Ubuntu', sans-serif;
  }

  /* For Mobile and Small Tablet: */
 /* @media only screen and (max-width:499px)  */
  .centered-white {
    width:96%;
   /* aspect-ratio: 100 / 29; */
    position: relative;
    margin: auto;
    text-align:center;
    vertical-align: middle;
    color: #0D1A5D;
 /*   font-size: 0.5em; */
    font-family: 'Ubuntu', sans-serif;   
  }


/* }  */

/* Container holding the image and the text */
.container {
  position: relative;
 /* aspect-ratio: 100 / 29; */
  text-align: center;
  vertical-align: middle;
  margin: auto;
  color: #0D1A5D;
  display: table-cell;
}

#footerImage {
  max-height: 5%;
}

.footer {
  margin-top: 5%;
  text-align: center;
}

#loading {
  text-align: center;
  color: #BA3706;
}

#page {
  margin: auto;
  background: #E7F8FF;
}

#results {
  margin-left: 0%;
background-color:#ffcc33;
}

.grid-container {
  display: grid;
  
  
  text-align: center;
  margin: auto;
  grid-template-columns: auto auto auto auto;
  grid-template-rows: auto auto auto auto;
}

body {
  background: #FBFDFC;
}

.jumbotron{
  background: #EDEFF1;
  margin: auto;
  width:96%;
  border-radius: 13px;
}

.revoke-full {
 color: #0D1A5D;
}

.revoke-small {
 color: #0D1A5D;
}

.allowance {
  width:96%;
  overflow: hidden;
  vertical-align: middle;
}

#columns {
  background-size: auto;
  text-align: center;
  color: #0D1A5D;
}

#headers {
  margin-top: 0px;
}

#revokeLink {
  color: #e60000;
}
